In [3]:
import pandas as pd
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize']=(12,6)
import seaborn as sns
sns.set()
import numpy as np
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [5]:
df =pd.read_csv('E:/project/driver-data.csv')

In [7]:
df.head()

           id  mean_dist_day  mean_over_speed_perc
0  3423311935          71.24                    28
1  3423313212          52.53                    25
2  3423313724          64.54                    27
3  3423311373          55.69                    22
4  3423310999          54.58                    25

In [8]:
df.describe()

                 id  mean_dist_day  mean_over_speed_perc
count  4.000000e+03    4000.000000           4000.000000
mean   3.423312e+09      76.041523             10.721000
std    1.154845e+03      53.469563             13.708543
min    3.423310e+09      15.520000              0.000000
25%    3.423311e+09      45.247500              4.000000
50%    3.423312e+09      53.330000              6.000000
75%    3.423313e+09      65.632500              9.000000
max    3.423314e+09     244.790000            100.000000

In [9]:
from sklearn.cluster import KMeans
kmeans=KMeans(n_clusters=2)
df_analyze=df.drop('id',axis=1)

In [10]:
kmeans.fit(df_analyze)

KMeans(n_clusters=2)

In [11]:
kmeans.cluster_centers_

array([[ 50.04763438,   8.82875   ],
       [180.017075  ,  18.29      ]])

In [12]:
print (kmeans.labels_)

[0 0 0 ... 1 1 1]

In [13]:
print (len(kmeans.labels_))

4000

In [14]:
unique,counts=np.unique(kmeans.labels_,return_counts=True)

In [15]:
print (dict(zip(unique,counts)))

{0: 3200, 1: 800}