In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score,mean_squared_error
from math import sqrt
%matplotlib
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score,mean_squared_error

Using matplotlib backend: <object object at 0x000002ADB6657440>

In [3]:
train =pd.read_csv('E:/project/bigmart_train.csv')

In [3]:
train

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [4]:
train.shape

(8523, 12)

In [5]:
train.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [6]:
train['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [7]:
train['Outlet_Establishment_Year'].unique()

array([1999, 2009, 1998, 1987, 1985, 2002, 2007, 1997, 2004], dtype=int64)

In [8]:
train['outlet_age']=2018-train['Outlet_Establishment_Year']

In [9]:
train.head(4)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,outlet_age
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,19
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,9
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,19
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800,20

In [10]:
train['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [11]:
train['Outlet_Size'].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [12]:
train['Outlet_Size']=train['Outlet_Size'].fillna(train['Outlet_Size'].mode()[0])

In [13]:
train['Item_Weight']= train['Item_Weight'].fillna(train['Item_Weight'].mean())

In [14]:
train['Item_Visibility'].hist(bins=20)

In [20]:
train.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
outlet_age                   0
dtype: int64

In [22]:
le=LabelEncoder()

In [23]:
train['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [25]:
train['Item_Fat_Content']=le.fit_transform(train['Item_Fat_Content'])

C:\Users\ASUS\AppData\Local\Temp/ipykernel_19032/694771191.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['Item_Fat_Content']=le.fit_transform(train['Item_Fat_Content'])

In [26]:
train['Item_Visibility']=le.fit_transform(train['Item_Visibility'])

C:\Users\ASUS\AppData\Local\Temp/ipykernel_19032/1952185622.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['Item_Visibility']=le.fit_transform(train['Item_Visibility'])

In [27]:
train['Outlet_Size']=le.fit_transform(train['Outlet_Size'])

C:\Users\ASUS\AppData\Local\Temp/ipykernel_19032/680187347.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['Outlet_Size']=le.fit_transform(train['Outlet_Size'])

In [28]:
train['Outlet_Location_Type']=le.fit_transform(train['Outlet_Location_Type'])

C:\Users\ASUS\AppData\Local\Temp/ipykernel_19032/3280113989.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['Outlet_Location_Type']=le.fit_transform(train['Outlet_Location_Type'])

In [30]:
dummy= pd.get_dummies(train['Outlet_Type'])
dummy

      Grocery Store  Supermarket Type1  Supermarket Type2  Supermarket Type3
0                 0                  1                  0                  0
1                 0                  0                  1                  0
2                 0                  1                  0                  0
3                 1                  0                  0                  0
4                 0                  1                  0                  0
...             ...                ...                ...                ...
8518              0                  1                  0                  0
8519              0                  1                  0                  0
8520              0                  1                  0                  0
8521              0                  0                  1                  0
8522              0                  1                  0                  0

[8437 rows x 4 columns]

In [31]:
train=pd.concat([train,dummy],axis=1)

In [32]:
train.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content               int32
Item_Visibility                int64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                    int32
Outlet_Location_Type           int32
Outlet_Type                   object
Item_Outlet_Sales            float64
outlet_age                     int64
Grocery Store                  uint8
Supermarket Type1              uint8
Supermarket Type2              uint8
Supermarket Type3              uint8
dtype: object

In [36]:
train=train.drop(['Item_Identifier','Item_Type','Outlet_Identifier','Outlet_Type'],axis='columns')

In [37]:
train

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Item_Outlet_Sales,outlet_age,Grocery Store,Supermarket Type1,Supermarket Type2,Supermarket Type3
0,9.300,0,664,249.8092,1999,1,0,3735.1380,19,0,1,0,0
1,5.920,0,880,48.2692,2009,1,2,443.4228,9,0,0,1,0
2,17.500,0,715,141.6180,1999,1,0,2097.2700,19,0,1,0,0
3,19.200,0,0,182.0950,1998,1,2,732.3800,20,1,0,0,0
4,8.930,0,0,53.8614,1987,0,2,994.7052,31,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,6.865,0,3912,214.5218,1987,0,2,2778.3834,31,0,1,0,0
8519,8.380,0,3278,108.1570,2002,1,1,549.2850,16,0,1,0,0
8520,10.600,0,2302,85.1224,2004,2,1,1193.1136,14,0,1,0,0
8521,7.210,0,7175,103.1332,2009,1,2,1845.5976,9,0,0,1,0
8522,14.800,0,3108,75.4670,1997,2,0,765.6700,21,0,1,0,0

In [38]:
x=train.drop(['Item_Outlet_Sales'],axis=1)

In [39]:
y=train.Item_Outlet_Sales

In [40]:
test=pd.read_csv('E:/simplilearn/machine learning/Sample_Datasets/Demo Datasets/Lesson 4/bigmart_test.csv')

In [41]:
test

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3
...,...,...,...,...,...,...,...,...,...,...,...
5676,FDB58,10.500,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1
5677,FDD47,7.600,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2
5678,NCO17,10.000,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,NaN,Tier 2,Supermarket Type1
5679,FDJ26,15.300,Regular,0.000000,Canned,214.6218,OUT017,2007,NaN,Tier 2,Supermarket Type1
5680,FDU37,9.500,Regular,0.104720,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1

In [42]:
test['Outlet_Size']= test['Outlet_Size'].fillna('Medium')

In [43]:
test['Item_Weight']=test['Item_Weight'].fillna(test['Item_Weight'].mean())

In [45]:
test.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
dtype: object

In [46]:
test['Item_Fat_Content']=le.fit_transform(test['Item_Fat_Content'])

In [47]:
test['Item_Visibility']=le.fit_transform(test['Item_Visibility'])
test['Outlet_Size']=le.fit_transform(test['Outlet_Size'])
test['Outlet_Location_Type']=le.fit_transform(test['Outlet_Location_Type'])
test['Outlet_Age']=le.fit_transform(test['Outlet_Establishment_Year'])

In [48]:
dummy=pd.get_dummies(test['Outlet_Type'])
test=pd.concat([test,dummy],axis=1)

In [49]:
x_test=test.drop(['Item_Identifier','Item_Type','Outlet_Type','Outlet_Establishment_Year'],axis=1)

In [50]:
x.columns,x_test.columns

(Index(['Item_Weight', 'Item_Fat_Content', 'Item_Visibility', 'Item_MRP',
        'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
        'outlet_age', 'Grocery Store', 'Supermarket Type1', 'Supermarket Type2',
        'Supermarket Type3'],
       dtype='object'),
 Index(['Item_Weight', 'Item_Fat_Content', 'Item_Visibility', 'Item_MRP',
        'Outlet_Identifier', 'Outlet_Size', 'Outlet_Location_Type',
        'Outlet_Age', 'Grocery Store', 'Supermarket Type1', 'Supermarket Type2',
        'Supermarket Type3'],
       dtype='object'))

In [52]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=42)
from sklearn.linear_model import LinearRegression
lin=LinearRegression()
lin.fit(x_train,y_train)

LinearRegression()

In [54]:
print (lin.coef_)
print(lin.intercept_)

[-9.02580142e-01  3.06421555e-13 -6.83157397e-03  1.56485415e+01
  5.51744991e-01  3.28449107e+01  7.26763674e+00 -5.51744991e-01
 -1.73279603e+03  2.31804022e+02 -1.18759982e+02  1.61975199e+03]
-1219.9234967781567

In [56]:
y_pred=lin.predict(x_test)

In [57]:
print (sqrt(mean_squared_error(y_test,y_pred)))

1113.3879203294596

In [58]:
from sklearn.linear_model import Ridge
ridgereg=Ridge(alpha=0.001, normalize=True)

In [59]:
ridgereg.fit(x_train,y_train)

C:\Users\ASUS\.conda\envs\py3-TF2.0\lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), Ridge())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)

Set parameter alpha to: original_alpha * n_samples.
  warnings.warn(

Ridge(alpha=0.001, normalize=True)

In [60]:
y_pred1=ridgereg.predict(x_test)
print (sqrt(mean_squared_error(y_test,y_pred1)))

1113.4322746125013

In [61]:
print (ridgereg.score(x_test,y_test))

0.5688811992266396

In [62]:
from sklearn.linear_model import Lasso
lss=Lasso(alpha=0.001, normalize=True)

In [63]:
lss.fit(x_train,y_train)

C:\Users\ASUS\.conda\envs\py3-TF2.0\lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), Lasso())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)

Set parameter alpha to: original_alpha * np.sqrt(n_samples).
  warnings.warn(

Lasso(alpha=0.001, normalize=True)

In [64]:
y_pred1=lss.predict(x_test)
print (sqrt(mean_squared_error(y_test,y_pred1)))

1113.3914799428046

In [65]:
print (lss.score(x_test,y_test))

0.5689127898806741

In [66]:
from sklearn.linear_model import ElasticNet
elsn=ElasticNet(alpha=0.001, normalize=True)
elsn.fit(x_train,y_train)

C:\Users\ASUS\.conda\envs\py3-TF2.0\lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), ElasticNet())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)

Set parameter alpha to original_alpha * np.sqrt(n_samples) if l1_ratio is 1, and to original_alpha * n_samples if l1_ratio is 0. For other values of l1_ratio, no analytic formula is available.
  warnings.warn(

ElasticNet(alpha=0.001, normalize=True)

In [67]:
y_pred1=elsn.predict(x_test)
print (sqrt(mean_squared_error(y_test,y_pred1)))

1495.6404661716222

In [68]:
print (elsn.score(x_test,y_test))

0.22210001219391984